/Projects/Project_1/OpeningMessageUsingFiles/dist/
/Projects/Project_1/OpeningMessageUsingFiles/build/
/Projects/Project_1/MenuForGame/build/
/Projects/Project_1/MenuForGame/dist/
/Projects/Project_1/War_V1/build/
/Projects/Project_1/War_V1/dist/
/Projects/Project_1/test/build/