/Projects/Project_1/War_V1/build/
/Projects/Project_1/War_V1/dist/
/Projects/Project_2/Arrays/build/
/Projects/Project_2/Functions/build/
/Projects/Project_2/Arrays/dist/
/Projects/Project_2/Functions/dist/
/Projects/Project_2/War_V2/build/
/Projects/Project_2/War_V2/dist/